<%- include('partials/header') %>
    <h1>home.......</h1>
    <header>
        <div class="smoothies">
            <img src="/img/smoothies.jpg" alt="">
        </div>
        <div class="heading">
            <h2>smothie recpie</h2>
            <a href="/smoothies" class="btn">view recpies</a>
        </div>
    </header>
    <%- include('partials/footer') %>
